<% layout('layouts/layout') %>
<link rel="stylesheet" href="/css/admin-products.css">

<div class="books-container">
  <h1>제품 관리</h1>
  <div class="actions">
    <a href="/write/book" class="add-book-btn">제품 추가</a>
  </div>
  <table class="books-table">
    <thead>
      <tr>
        <th>제품 ID</th>
        <th>제품명</th>
        <th>가격</th>
        <th>판매량</th>
        <th>관리</th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach(book => { %>
        <tr>
          <td><%= book.book_id %></td>
          <td><%= book.title %></td>
          <td><%= book.price %>원</td>
          <td><%= book.sold_count %></td>
          <td>
            <a href="/update/book/<%= book.book_id %>" class="edit-btn">수정</a>
            <a href="/delete/book/<%= book.book_id %>" class="delete-btn">삭제</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>