<% layout('layouts/layout') %>
  <link rel="stylesheet" href="/css/index.css" />
  <header class="header">
    <div class="header-content">
      <h1>TOP 3</h1>
    </div>
  </header>
  <div class="book-container">
    <section class="book-section">
      <% top3.forEach(book=> { %>
        <div class="book-card">
          <a href="/book/<%= book.book_id %>">
            <img src="<%= '/img/'+book.image_path %>" alt="책 이미지" class="book-image">
            <div class="book-info">
              <h3 class="book-title">
                <%= book.title %>
              </h3>
              <p class="book-author">
                <%= book.author %>
              </p>
              <p class="book-price">
                <span class="current-price">
                  <%= book.price %>원
                </span>
              </p>
            </div>
          </a>
        </div>
        <% }); %>
    </section>
  </div>

  <header class="header">
    <div class="header-content">
      <h1>ALL</h1>
    </div>
  </header>
  <div class="book-container">
    <section class="book-section">
      <% books.forEach(book=> { %>

        <div class="book-card">
          <a href="/book/<%= book.book_id %>">
            <img src="<%= '/img/'+book.image_path %>" alt="책 이미지" class="book-image">
            <div class="book-info">
              <h3 class="book-title">
                <%= book.title %>
              </h3>
              <p class="book-author">
                <%= book.author %>
              </p>
              <p class="book-price">
                <span class="current-price">
                  <%= book.price %>원
                </span>
              </p>
            </div>
          </a>
        </div>

        <% }); %>
    </section>
  </div>

  <footer class="footer">
    <p>© 2024 Book Root</p>
  </footer>